@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282726;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

header.header-container {
  height: auto;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

h1.header-title {
  color: #f9f4da;
  font-family: Hanken Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

p.header-info {
  color: #8e8e8e;
  text-align: center;
  font-family: Hanken Grotesk, sans-serif;
  font-size: 15px;
}

section.status-container {
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #10a95b;
  border-radius: 5px;
  color: #f9f4da;
}

section.status-container > h1 {
  font-size: 1.25rem;
  font-family: Hanken Grotesk, sans-serif;
}

section.status-container > p {
  font-size: 0.875rem;
  font-family: Hanken Grotesk, sans-serif;
  text-align: center;
}

section.language-container {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

div.language-box {
  padding: 5px;
  width: auto;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  font-family: Hanken Grotesk, sans-serif;
  display: flex;
  align-items: center;
}

section.word-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div.word-character-container {
  width: 40px;
  height: 40px;
  padding: 6px;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f9f4da;
}

span.word-character {
  font-size: 18px;
  font-family: Hanken Grotesk, sans-serif;
  font-weight: 700;
  color: #f9f4da;
}

section.keyboard-container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

button.keyboard-character {
  width: 40px;
  height: 40px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  font-size: 18px;
  font-family: Hanken Grotesk, sans-serif;
  font-weight: 700;
  color: black;
  cursor: pointer;
}

button.newGame-button {
  width: 250px;
  background-color: #11b5e5;
  font-family: Hanken Grotesk, sans-serif;
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
}
